
/* GLOBAL STYLES */

body {
  color: #333;
  background: #fff;  
  margin: 0;
  padding: 0; 
  font-family: Helvetica Neue, sans-serif;
  font-weight: 300;
}

.hr {
  width: 100%;
  border-bottom: 1px dashed #999;
  margin: 20px 0;
  height: 1px;
  float: left;   
}

#main {
  float: left; 
}

/* END GLOBAL STYLES */

/* BUTTONS AND LINKS */

a:link, a:visited, span.toggle {
  color: #4183C4;
  text-decoration: none; 
  cursor: pointer;  
}

a:hover, span.toggle:hover {
 color: #d75b00;
}

.button, a.button input.button {
	font-size: 13px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#3273c2 0%,
		#183a8f);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#3273c2),
		to(#183a8f));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 3px;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}


.button:hover {
 background: #ffb25a;
 color: #7c470a;   
}

.button.large {
  font-size: 22px;
  padding: 10px 15px 8px;   
}

.button.small {
    padding: 4px 8px 2px;
}

.button.red {
  background: #b70000;   
}

.button.red:hover {
  color: #fff;
  background: #c90000;   
}

.red {
  color: #bf2a38;   
}

.green {
  color: #105D0A;   
}

.small {
  font-size: 12px;   
}

span.link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 100;   
}

span.link:hover {
  cursor: pointer;   
}

.tooltip {
    display:none;
    background:#333;
    font-size:11px;
    height:auto;
    width:140px;
    padding:10px 15px;
    color:#eee;
    text-shadow: none;
}

.tooltip:before {
    border-color: #333 rgba(0, 0, 0, 0) -moz-use-text-color;
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-style: solid solid none;
    border-width: 10px 10px 0;
    bottom: -10px;
    content: " ";
    display: block;
    height: 0;
    left: 80px;
    position: absolute;
    width: 0;
    z-index: 2;
}
  
  
/* END BUTTONS AND LINKS */

/* TYPOGRAPHY */
body, .pure-g-r, .pure-g-r [class*="pure-u"] {
  font-family: "Myriad Pro",Helvetica Neue,Helvetica,Arial,sans-serif;
}

h1 {
    font-size: 40px;
    font-weight: 100;
    letter-spacing: -1px;
    margin: 0 0 20px;
    text-transform: lowercase;
}

h2 {
  font-size: 40px;
  margin: 15px 0 15px 0;   
}

h3 {
  font-size: 24px;
  font-weight: normal;
  border-bottom: 1px solid #e1e1e1;   
}

p {
  margin: 0 0 15px 0;   
}

table {
    
}

thead {
  font-weight: bold;   
}

td {
  padding: 5px;   
}

.diff {
  color: ; 
}

.diff.red {
  color: #b70000;   
}

span.curr {
  font-size: 11px;   
}

span.percent {
   font-size: 11px;   
}

/* END TYPOGRAPHY */

/* FORMS */
fieldset {
  border: none; 
}

legend {
  margin: 0 0 20px 0;  
  font-style: italic; 
}

fieldset p {
  float: left;
  width: 100%;   
}

fieldset span.mandatory {
  position: absolute;
  left: 0;   
}

label {
  font-weight: bold;
  float: left;
  width: 200px;   
}

input[type="text"], input[type="email"], textarea {
    border: medium none;
    box-shadow: none;
    font-family: "Myriad Pro";
    font-size: 15px;
    line-height: 1em;
    padding: 10px 15px;
    width: 350px;
    color: #999;
}

/* END FORMS */

.centered {
  width: 1000px;
  margin-left: -500px;
  left: 50%;
  position: relative;
}

/* HEADER SPECIFIC */

#header {
  padding: 15px 0; 
  margin: 0 0 20px; 
  float: left;
  width: 100%;
  border-bottom: 3px solid #4183C4;
  position: relative;
  
background: rgb(43,43,43); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(43,43,43,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(43,43,43,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(43,43,43,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(43,43,43,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(43,43,43,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(43,43,43,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}

#header h1 {
  margin: 0px;
  color: #999;
  float: left;
  margin: 0 30px 0 0;   
}

#header h1 a {
  color: #fff;   
}

#header h1 a:hover {
  opacity: 0.8;   
}

#header h1 span {
  color: #4183C4;
}

#header ul {
  list-style-type: none;
  float: left;
  padding: 0;
  margin: 0;   
}

#header ul li {
  float: left;
  position: relative;
  top: 20px;   
}

#header ul li a {
  padding: 8px 15px 5px;
  color: #fff;   
}

#header ul li a:hover {
  text-decoration: underline;
}


/* END HEADER SPECIFIC */

/* HOMEPAGE SPECIFIC */

/* END HOMEPAGE SPECIFC */


/* PAGE STYLES */

p {
  font-size: 13px;
  line-height: 1.8em;   
}

p.big {
  font-size: 1.3em;   
}

p[class*="pure-u-1-3"] {
  padding: 0 30px 0 0;
  width: 30%;   
}

p.intro, #left p.intro {
  font-size: 1.3em;   
}


#right .box {
  float: right; 
  margin: 0 0 20px 0;
  position: relative;    
}

#right .box img {
  width: 100%;   
}

#right .box .price {
  margin: 10px 0 0;   
}

#right .box p:last-child {
  margin: 0;   
}

#right div.white {
  background: #fff;
}

#right div .inner {
  padding: 15px;   
}

#right div h3 {
  margin: 0;   
}


/* END PAGE STYLES */

/* FOOTER STYLES */
#footer {
  background: url('../images/footer_back.png') repeat top left; 
  float: left;
  height: 200px;
  padding: 30px 0 100px 0;
  margin: 50px 0 0 0;
  width: 100%;  
  box-shadow: 0 1px 5px #ccc inset;
  border-top: 2px solid #bbb;
}

#footer h4 {
  margin: 5px 0 10px;   
}

#footer ul {
  list-style-type: none;
  padding: 0 30px 0 0;
  margin: 0; 
  font-size: 0.8em;
  line-height: 1.6em;  
}

#footer ul#social {
  margin: 0;
  padding: 0; 
  list-style-type: none; 
  float: right;
  width: 200px; 
}

#footer ul#social li.first {
  float: left;
  text-transform: uppercase;
  padding: 17px 0 0;   
  margin: 0 5px 0 0;
}

#footer ul#social li a {
  height: 52px;
  width: 52px;
  background: url('/static/images/social-icons.png') no-repeat top left;
  float: left;
  margin: 0 0 0 5px;
}

#footer ul#social li a:hover {
  background-position: 0 -52px;   
}

#footer ul#social li a#facebook {
  background-position: -104px 0px;   
}

#footer ul#social li a#facebook:hover {
  background-position: -104px -52px;   
}

/* END FOOTER STYLES

