{% extends base_template %}
{% load thumbnail staticfiles mathfilters %}

{% block pagetitle %}About{% endblock %}


{% block extrajs %}
<script type="text/javascript">
</script>
{% endblock %}


{% block extracss %}
<style type="text/css">

</style>
{% endblock %}


{% block content %}
<div class="pure-g-r">
    <div class="pure-u-1">

        <h2>About</h2>
        
        <p class="big">We provide data and analysis of different Bitcoin exchanges to help you exploit arbitrage opportunities between exchanges.</p>
        
        <div class="pure-g-r">
        <p class="pure-u-1-3"><strong>What is arbitrage?</strong><br/>Arbitrage is where you make a profit by taking advantages of price differences in different markets. Buy in NY for a dollar, sell in Shanghai for two.</p>
        <p class="pure-u-1-3"><strong>How can I use this website?</strong><br/>You can use this site to analyse and identify arbitrage opportunities in the BTC market. We don't facilitate trades anywhere on the site; we're not an exchange.</p>
        <p class="pure-u-1-3"><strong>Disclaimer</strong><br/>We take no responsibility whatsoever for any losses you make through trading BTC, and make no guarantees to the accuracy of our data. </p> 
        
        <h3 class="pure-u-1">Examples</h3>
        
        </div>       
        
    </div>

</div>
{% endblock %}
