{% extends base_template %}
{% load thumbnail staticfiles mathfilters %}

{% block pagetitle %}About{% endblock %}


{% block extrajs %}
<script type="text/javascript">
</script>
{% endblock %}


{% block extracss %}
<style type="text/css">

</style>
{% endblock %}


{% block content %}
<div class="pure-g-r">
    <div class="pure-u-1">

        
        <p class="extra-large">Make money by exploiting BTC arbitrage opportunities </p>
        
        
        <p class="large">We offer data and analysis on Bitcoin (BTC) prices between major exchanges to help you identify and (hopefully) profit from arbitrage opportunities.</p>
        
        <div class="pure-g-r">
        <p class="pure-u-1-3"><strong>What is arbitrage?</strong><br/>Arbitrage is where you make a profit by taking advantages of price differences in different markets. Buy in NY for a dollar, sell in Shanghai for two.</p>
        <p class="pure-u-1-3"><strong>How can I use this website?</strong><br/>You can use this site to analyse and identify arbitrage opportunities in the BTC market. We don't facilitate trades anywhere on the site; we're not an exchange.</p>
        <p class="pure-u-1-3"><strong>Big Ol' Disclaimer</strong><br/>We take no responsibility whatsoever for any losses you make through trading BTC. We provide this data without any guarantees of its accuracy.</p> 


        </div>       
        
    </div>

</div>
{% endblock %}
