{% extends base_template %}
{% load thumbnail staticfiles mathfilters %}

{% block pagetitle %}Contact{% endblock %}


{% block extrajs %}
<script type="text/javascript">
</script>
{% endblock %}


{% block extracss %}
<style type="text/css">

</style>
{% endblock %}


{% block content %}
<div class="pure-g-r">
    <div class="pure-u-1">

        
        <p class="extra-large">Get in touch by email</p>
        
        
        <p class="large">If you want to get in touch to ask a question or for any other reason, please email info@bitrage.com. We'll try to respond as soon as we can.</p>
        
             
        
    </div>

</div>
{% endblock %}
