{% extends base_template %}
{% load thumbnail staticfiles mathfilters %}

{% block pagetitle %}Contact{% endblock %}


{% block extrajs %}
<script type="text/javascript">
</script>
{% endblock %}


{% block extracss %}
<style type="text/css">

</style>
{% endblock %}


{% block content %}
<div class="pure-g-r">
    <div class="pure-u-1">

        
        <p class="extra-large">Get in touch by email</p>
        
        <p class="large">If you want to get in touch to ask a question or for any other reason, please email info@bitrage.com. We'll try to respond as soon as we can.</p>
        
        <p class="pure-u-1-2"><strong>Please don't ask for advice about trading strategies or how to buy/sell Bitcoins</strong> There's plenty of resources available on <a href="http://www.google.com/?q=bitcoin">the internet</a>, and it's up to you to find out for yourself. Why not head over to <a href="http://www.bitcointalk.com">BitCoinTalk</a> and chat to other enthusiasts if you need general advice.</p>
        
             
        
    </div>

</div>
{% endblock %}
