{% extends base_template %}

{% block pagetitle %}Date notes{% endblock %}


{% block extrajs %}
<script type="text/javascript">
</script>
{% endblock %}


{% block extracss %}
<style type="text/css">

</style>
{% endblock %}


{% block content %}
<div class="pure-g-r">
    <div class="pure-u-1">

        
        <p class="extra-large">Some notes on our data</p>
               
        <p class="large">This information isn't essential, but it will help you understand how we make our calculations, to what degree they apply to you and with what degree of accuracy.</p>
        
        <div class="pure-g-r three">
        <p class="pure-u-1-3"><strong>Trade Fees</strong><br/>We manually track trade fees on the various exchanges. In all cases, we apply the highest fee, and don't take into account any VIP or high-volume discounts. For example, Mt Gox. charges 0.5% fee for buy/sell trades for low-volume, non-VIP users - we use this amount to calculate MtGox trading fees.</p>
        
        <p class="pure-u-1-3"><strong>FX Data</strong><br/>Our 'idealised' FX rates are sourced from <a href="http://www.openexchangerates.com">www.openexchangerates.com</a>. These are updated daily at present. 'Real-world' currently only applies to Chinese Yuan (RMB) - data is sourced from Bank of China, which generally offers the best buy/sell rates on the market.</p>
        
        
        <p class="pure-u-1-3"><strong>API Trade Data</strong><br/>Trade data comes direct from exchange APIs, which are open and easily accessible. We look for last-buy price, and if not available, the stated 'buy' price, or an average of the last X trades provided.</p> 

        </div> 
        
        <div class="hr"></div>
        
        <p class="large">Our Bitcoin price data is currently refreshed every <strong>{{ scrape_interval }} minutes</strong>. We're working to make this faster.</p>
        
    </div>

</div>
{% endblock %}
