{% extends base_template %}
{% load thumbnail staticfiles mathfilters %}

{% block pagetitle %}About{% endblock %}


{% block extrajs %}
<script type="text/javascript">

$(document).ready( function() {
    {% if analytics_on %}
    mixpanel.track(
        'PRICING-SPLIT-TEST',
        { 'Item': 'Get alerts' }
    ); 
    {% endif %}
});

</script>
{% endblock %}


{% block extracss %}
<style type="text/css">

</style>
{% endblock %}


{% block content %}
<div class="pure-g-r">
    <div class="pure-u-1">
        
        <p class="extra-large">Sorry to use you like this - this was a test...</p>
        
        <p class="large">We're just testing at the moment whether users would appreciate faster data, or prefer to get alerts. It looks like you'd prefer to get alerts, right? We're hoping to provide email/SMS alerts if enough people want them, to save you refreshing the screen manically! Please keep checking back for updates.</p>        
        
    </div>
</div>
{% endblock %}
