{% extends base_template %}
{% load thumbnail staticfiles mathfilters %}

{% block pagetitle %}Home{% endblock %}


{% block extrajs %}
<script type="text/javascript">

function highLight(item) {
    // take the value of the highlighted amount and then
    // according to the exchange rate, highlight the value
    // difference between this and all of the ones on the right    
    
     
    var buyCurrency = item.attr('data-curr');
    var buyPrice = parseFloat(item.attr('data-price'));
    
      
    $('#chinese.exchange_list li').each(function(i,v) {
        
        var sellPrice = parseFloat($(v).attr('data-price'));
        var sellCurrency = $(v).attr('data-curr');
        
        if (buyCurrency == sellCurrency) {
           var fx = 1;   
        } else {
            var fx = parseFloat($('#'+buyCurrency+'_'+sellCurrency).text());
        }
        
        /// FIND THE PRICE DIFFERENCE BETWEEN THE BUY/SELL EXCHANGES
        
        if (buyCurrency == sellCurrency) {
            var diff = (sellPrice - buyPrice);
        } else {
            var diff = ( sellPrice - (buyPrice * fx) );            
        }
        
                

        $(v).find('.result .diff .price').text(diff.toFixed(2));
        $(v).find('.result .diff .curr').text(sellCurrency);
        
        
        $(v).find('.result').addClass('visible');
        if (diff < 0) {
             $(v).find('.result').addClass('red');
        } else {
             $(v).find('.result').removeClass('red');   
        } 
        
        // MIN-SELL
        var minSell = (buyPrice * fx) ;
        $(v).find('.result .min-sell .price').text(minSell.toFixed(2));
        $(v).find('.result .min-sell .curr').text(sellCurrency);
        
        /// PERCENTAGE
        var percent = (( diff / minSell) * 100).toFixed(2)
        $(v).find('.result .percent .price').text(percent);
        
         
    });     
}


$(document).ready( function() {
   $('#western.exchange_list li').click( function() {
      $('.exchange_list li').removeClass('selected');
      $(this).toggleClass('selected'); 
      highLight( $(this) );     
   });
   
   
   
   
});
</script>
{% endblock %}

{% block extracss %}
<style type="text/css">

#titles {
  float: left;
  width: 100%;
  position: relative;
  height: 40px; 
}

#titles span {
  position: absolute;
  font-size: 0.9em;
}

#titles span.large {
  font-weight: bold;
  font-size: 1.2em;   
}

#titles span.one {
  left: 0;   
}

#titles span.two {
  left: 250px;   
}

#titles span.three {
  left: 435px;   
}

#titles span.four {
  left: 545px;   
}

#titles span.five {
  left: 710px;   
}

.exchange_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 30px;   
}

.exchange_list li {
  background: #f6f6f6;
  padding: 5px 10px;
  width: 100px;
  margin: 0 0 5px 0;
  position: relative;   
}

.exchange_list li:hover {
  cursor: pointer;
  background: #f9f9f9;
}

.exchange_list li.selected {
  background: #fff;   
}

#western {
  float: left;
  margin: 0 150px 0 0;   
}

#chinese {
    float: left;
    left: 250px;
    position: absolute;
    text-align: left;
}

#western.exchange_list li .price {
    bottom: 0;
    display: none;
    font-size: 13px;
    height: 10px;
    margin: auto 0;
    position: absolute;
    right: -110px;
    text-align: left;
    top: 0;
    width: 100px;
}

#western.exchange_list li.selected .price {
  display: block;   
}

#chinese .result {
    bottom: 0;
    color: #777777;
    display: none;
    font-size: 13px;
    height: 12px;
    left: 130px;
    margin: auto 0;
    position: absolute;
    text-align: right;
    top: 0;
    width: 400px;
}

#chinese .result .diff {
  color: #105d0a;   
}

#chinese .result div {
  float: left;
  width: 120px;
  margin: 0 5px 0 0;   
}

#chinese .result.visible {
  display: block;   
}

#chinese .result.visible .price {
  display: inline;   
}

#chinese .result.red .diff {
  color: #D30000;   
}

#fx_rates {
  display: none;   
}

</style>
{% endblock %}


{% block content %}
<div class="pure-g-r">
    <div class="pure-u-1">
        
        <div id="titles">
            <span class="one large">Buy from</span>
            <span class="two large">Sell on</span>
            <span class="three">Profit/Loss</span>
            <span class="four">Min. Sell Price</span>
            <span class="five">% Diff</span>
        </div>        
        
        <ul id="western" class="exchange_list">
        {% for x in buy_data %}
            {% if x.name %}
            <li data-curr="{{ x.curr }}" data-price="{{ x.price }}">
                <span class="name">{{ x.name }}</span>
                <span class="price">
                    {{ x.price }} {{ x.curr }}
                </span>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
        
        <ul id="chinese" class="exchange_list">
        {% for x in sell_data %}
            {% if x.name %}
            <li data-price="{{ x.price|floatformat:'2' }}" data-curr="{{ x.curr }}">
                <span class="result">

                    <div class="diff">
                        <span class="price"></span>
                        <span class="curr"></span>
                    </div>
                    
                    <div class="min-sell">
                        <span class="price"></span>
                        <span class="curr"></span>
                    </div>
                    
                    <div class="percent">
                        <span class="price"></span>
                        %
                    </div>
                    
                    
                    
                    
                </span>
                {{ x.name }}
            </li>
            {% endif %}
        {% endfor %}
        </ul>
        
        <br clear="all"/>
        <p>&nbsp;</p>
        
        
        <ul id="fx_rates">
            {% for x in fx_data %}
                <li id="{{ x.buy_curr }}_{{ x.sell_curr }}">{{ x.price }}</li>
            {% endfor %}        
        </ul>
        
        
        
    </div>

</div>
{% endblock %}
