{% extends base_template %}
{% load thumbnail staticfiles mathfilters %}

{% block pagetitle %}Home{% endblock %}


{% block extrajs %}
<script type="text/javascript">

var fxSuffix = '';

function highLight(item) {    
    
    
    /// CALCULATE THE BUY VARIABLES 
    var buyCurrency = item.attr('data-curr');
    var buyPrice = parseFloat(item.attr('data-price'));
    
    /// CALCULATE THE DATA ENTERED BY THE USER       
    var userAmount = parseFloat($('#user-amount').text());
    var userCurrency = $('input[name="user-currency"]:checked').val();
     
     
    console.log(userCurrency)  
       
    $('#buy #name span').text(item.find('.buy_from').text());
    
    if ( $('#fx_choice input[type="radio"]:checked').attr('id') == 'real_fx' ) {
        var fxSuffix = '_real';
    } else {
        var fxSuffix = '_ideal';
    }
                
    /// WHAT IS TOTAL BTC BUY WITH USER AMOUNT?
    var fx = parseFloat($('#'+userCurrency+'_'+buyCurrency+fxSuffix).text());
    var btcBuy = ( (userAmount * fx) / buyPrice)             

    
    console.log('BTC Buy = '+btcBuy) 
        
    item.find('.buy_price .price').text(buyPrice.toFixed(2));
    item.find('.buy_price .curr').text(buyCurrency);
    item.find('.btc_buy').text(btcBuy.toFixed(4));

    var bestPrice = 0;
    var bestPriceEx = '';
    
    /// UPDATE THE AMOUNTS FOR EACH SELL EXCHANGE  
    $('.exchange').not('.exchange.excluded').each(function(i,v) {


        /// IF THE EXCHANGE IS NOT SELECTED, GREY IT OUT        
        if (item.find('.buy_from .name').text() == $(v).find('.sell_on').text() ) {
           $(v).addClass('grey');   
        } else {
           $(v).removeClass('grey');   
        }
        
        
        /// GET THE SALE VARIABLES 
        var salePrice = parseFloat($(v).attr('data-price'));
        var saleCurrency = $(v).attr('data-curr');
        
        
        

        /// WORK OUT THE FEES 
        var totalFees = 0;
        if ( $('input#include_trade_fees:checked').length ) {
           
           var buyTradeFee = ( parseFloat(item.attr('data-trade-fee')) * (btcBuy * buyPrice) );
           var sellTradeFee = ( parseFloat($(v).attr('data-trade-fee')) * (btcBuy * salePrice) );  
           var transferFee = ( parseFloat(item.attr('data-transfer-fee')) * buyPrice );
           totalFees = (buyTradeFee + sellTradeFee + transferFee);
           
        }        
                
        /// UPDATE THE SELL PRICE COLUMN
        $(v).find('.sell_price .price').text(salePrice.toFixed(2));
        $(v).find('.sell_price .curr').text(saleCurrency);


        /// CALCULATE TOTAL OUTPUT 
        var fx = parseFloat($('#'+saleCurrency+'_'+buyCurrency+fxSuffix).text());        
        var totalSalePrice = ( (salePrice * btcBuy) - totalFees )
        
        
        console.log($(v).find('.sell_on .name').text()+' '+totalSalePrice);
        
        
        
        var fx = parseFloat( $('#'+saleCurrency+'_'+userCurrency+fxSuffix).text() );


        console.log('FX Formula = '+saleCurrency+'_'+userCurrency)
        console.log(fx)
        

        var totalSalePriceOriginalCurrency = (totalSalePrice * fx)
        
        
        
        var original = ( totalSalePrice.toFixed(2) + ' ' + saleCurrency)
        
        $(v).find('.total_out').attr('title', original) ;
        $(v).find('.total_out .price').text(totalSalePriceOriginalCurrency.toFixed(2));
        $(v).find('.total_out .curr').text(userCurrency);
        
        
        /// CALCULATE THE PROFIT/LOSS
        var profitLoss = ((totalSalePriceOriginalCurrency - userAmount));
        $(v).find('.profit_loss .price').text(profitLoss.toFixed(2));
        $(v).find('.profit_loss .curr').text(userCurrency);
        
        
        /// UPDATE THE ROW CLASS ACCORDING TO PROFIT/LOSS
        if (profitLoss < 0) {
             $(v).addClass('red');
             $(v).removeClass('green');
        } else {
             $(v).removeClass('red');
             $(v).addClass('green');   
        } 
        
        
        /// CALCULATE MINIMUM SELL PRICE
        var fx = parseFloat( $('#'+buyCurrency+'_'+saleCurrency+fxSuffix).text() );
        var minSell = ( ( userAmount / btcBuy ) * fx ) ;
        $(v).find('.min_sell .price').text(minSell.toFixed(2));
        $(v).find('.min_sell .curr').text(saleCurrency);
        
                
        /// CALCULATE PERCENTAGE
        var percent = ( (profitLoss / totalSalePriceOriginalCurrency) * 100 ).toFixed(2)
        $(v).find('.percent .num').text(percent);
        
        
        /// CALCULATE BEST PRICE
        if (totalSalePriceOriginalCurrency > bestPrice) {
           bestPrice = totalSalePriceOriginalCurrency ;
           bestPriceEx = '';
           bestPriceEx = $(v).find('.sell_on .name').text();
                      
        }
        
        
        
        
        
         
    }); 
    
    $('#best_price .price').text(bestPrice.toFixed(2));
    $('#best_price .currency').text(userCurrency);
    $('#best_price .name').text(bestPriceEx);
            
}


$(document).ready( function() {
   
   /// SET/GET GLOBAL VARIABLE FOR FX RATES - REAL WORLD OR IDEAL 
   $('#fx_choice input[type="radio"]:checked').parent('label').addClass('selected');
   $('#fx_choice input[type="radio"]').click( function() {
       if ( $(this).attr('id') == '#real_fx' ) {
          fxSuffix = '_real';
       } else {
          fxSuffix = '_ideal';
       }
       
       $('#fx_choice input[type="radio"]').parent('label').removeClass('selected');
       $('#fx_choice input[type="radio"]:checked').parent('label').addClass('selected');
       
       highLight( $('.exchange.selected') );
   });
      
   
   /// SETUP THE MAIN TABLE OF EXCHANGES AND DATA
   $('.buy_from').click( function() {
      
      /// CLEAR ALL OTHERS
      $('.buy_from').parent('.exchange').removeClass('selected');
      $('.buy_price .price').text('');
      $('.buy_price .curr').text('');
      $('.btc_buy').text('');
      
      $(this).parent('.exchange').toggleClass('selected');
      highLight( $(this).parent('tr') );     
   });
   
   /// SETUP THE RADIO BUTTONS
   $('#radios input[type="radio"]:checked').parent('label').addClass('selected');
   $('#radios input[type="radio"]').click( function() {
      $('#radios input[type="radio"]').parent('label').removeClass('selected');
      $('#radios input[type="radio"]:checked').parent('label').addClass('selected');
      
      highLight( $('.exchange.selected') );
   });
   
   /// SETUP THE EXCLUDE BUTTON
   $('.exclude').click( function(e) {
      $(this).parent('td').parent('tr').toggleClass('excluded');
           
      if ($('.text', this).text() == '+') {
          $('.text', this).text('-');
      } else {
          $('.text', this).text('+');
      }
      
      highLight( $('.exchange.selected') );
      e.preventDefault();
   });
   
   
   // IF NOTHING IS SELECTED, SELECT THE FIRST ITEM
   if ( $('.exchange.selected').length == 0 ) {
      $('.exchange:first-child').addClass('selected');
      highLight( $('.exchange:first-child') );
   }
   
   $('#user-amount').keyup( function() {    
        highLight( $('.exchange.selected') );
   });
   
   
   /// TRADE FEES BUTTON SETUP
   $('#trade_fees input[type="radio"]:checked').parent('label').addClass('selected');
   $('#trade_fees input').click( function() {
        $('#trade_fees input[type="radio"]').parent('label').removeClass('selected');
        $('#trade_fees input[type="radio"]:checked').parent('label').addClass('selected');
        highLight( $('.exchange.selected') );
   });
   
   /// HIDE/SHOW THE SETTINGS BOX
   $('#show_settings').click( function(e) {
       $(this).toggleClass('selected');
       $('#settings').toggleClass('visible');
       e.preventDefault();
   });
   
   
    $('.question').hover( function() {
        
        
    
    });
    
    $(".question").hover(function () {
        var text = $(this).attr('title');
        $(this).append('<div class="tooltip"><p>'+text+'</p></div>');
    }, function () {
        $("div.tooltip").remove();
    });
   

   
});
</script>
{% endblock %}

{% block extracss %}
<style type="text/css">

#fx_rates {
  display: none;   
}

#in_out {
  float: left;
  width: 100%;
  margin: 20px 0 20px 0;
}

#in_out #user-amount {
  float: left; 
  margin: 0 5px 0 0;
  background: none;
  padding: 0;
  font-size: 50px;
  font-weight: bold;
  color: #333;
  width: auto;
  line-height: 0.8em;
  height: 45px;  
}

#in_out #radios {
  float: left;
  width: auto;
  position: relative;
  top: 10px;   
}

#buy {
  float: left;   
}

#buy #name {
  float: left;
  width: 100%;   
}


#best_price {
  float: right;
  text-align: right;
  position: relative;
}

#best_price .price {
  font-size: 50px;
  font-weight: bold; 
  line-height: 0.9em;  
}

#best_price .currency {
  font-size: 20px;
  font-weight: bold;   
}

#show_settings {
    background: none repeat scroll 0 0 #F9F9F9;
    border-color: #E1E1E1 #E1E1E1 #F9F9F9;
    border-image: none;
    border-radius: 4px 4px 0 0;
    border-style: solid;
    border-width: 1px 1px 2px;
    color: #A1A1A1;
    float: right;
    font-size: 13px;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: -46px;
}

#show_settings img {
  position: relative;
  top: 2px;
  opacity: 0.5;
}

#show_settings.selected img {
  opacity: 1;
}

#settings {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px dashed #E1E1E1;
    display: none;
    float: left;
    margin: 0 0 20px;
    padding: 10px 0 20px;
    width: 100%;
}

#settings.visible {
  display: block;   
}

#settings div {
  float: left;
  margin: 0 20px 0 0;
  border-right: 1px solid #fff;
  padding-right: 20px;  
} 

#settings div:last-child {
  border-right: none;   
}

#settings div h4 {
  margin: 0 0 5px 0;
  font-size: 15px; 
  text-transform: uppercase;  
}





#radios label, #settings label, #trade_fees label {
  background: none;
  color: #999;
  padding: 4px 8px 5px;
  width: auto;
  margin: 0px 0 0; 
  font-weight: normal;
}

#radios label:hover, #fx_choice label:hover, #trade_fees label:hover  {
  cursor: pointer;
  background: #f6f6f6;
  color: #555;   
}

#radios label.selected, #fx_choice label.selected, #trade_fees label.selected {
  color: #105D0A;
  background: #fff;
  font-weight: bold;
}

#fx_choice {
 float: left;
 width: 85px;   
}

#settings label {
    color: #999999;
    float: left;
    font-size: 12px;
    font-weight: normal;
    left: -10px;
    padding: 3px 8px;
    position: relative;
    width: 75px;
}

#settings #trade_fees {
  width: 100px;   
}

#settings #trade_fees label {
  width: 100px;   
}

#settings input {
  margin-right: 10px;   
}


#radios input[type="radio"], #fx_choice input[type='radio'], #trade_fees input[type="radio"] {
  display: none;   
}



table#list {
  float: left;
  font-size: 13px;
  background: none;
  width: 100%; 
}

#list td {
    border-bottom: 1px solid #e1e1e1;
    height: 35px;
    padding: 13px 10px 10px;
    width: 80px;
}

#list thead td {
  border-bottom: 1px solid #c1c1c1;   
}

#list td.num {
  text-align: right;   
}

#list a.exclude {
    background: none repeat scroll 0 0 #F1F1F1;
    border-radius: 10px;
    float: left;
    height: 20px;
    left: 310px;
    margin-top: -3px;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 20px;
}

#list .exchange.selected a.exclude {
  display: none;   
}

#list a.exclude span {
    bottom: 0;
    color: #777777;
    font-family: 'Lucida Console';
    font-size: 17px;
    font-weight: normal;
    position: relative;
    right: 0;
    top: 1px;
}

#list a.exclude:hover span {
   color: #555;  
}


#list .buy_from {
  background: none;
  color: #999;   
}

#list .buy_from:hover {
  background: #f9f9f9;
  cursor: pointer;   
}

#list .exchange.selected .buy_from, #list .exchange.selected .buy_price, #list .exchange.selected .btc_buy {
  background: none;
  color: #333;   
}

#list .exchange .sell_on, #list .exchange .sell_price, #list .exchange .total_out, #list .exchange .percent, #list .exchange .profit_loss, #list .exchange .min_sell  {
  background: none;
} 

#list .exchange.excluded .sell_price span, #list .exchange.excluded .total_out span, #list .exchange.excluded .percent span, #list .exchange.excluded .profit_loss span, #list .exchange.excluded .min_sell span {
  display: none;   
}  

#list .exchange.selected .sell_price span, #list .exchange.selected .total_out span, #list .exchange.selected .percent span, #list .exchange.selected .profit_loss span, #list .exchange.selected .min_sell span, #list .exchange.selected .sell_on span {
  display: none;   
}    

#list .buy_from.red {
  color: #b70000;   
}


.grey .sell_on, .grey .sell_price, .grey .total_out, .grey .profit_loss, .grey .min_sell, .grey .percent {
  color: #d1d1d1;   
}




</style>
{% endblock %}


{% block content %}
        
        
        <a href="" id="show_settings"><img src="{% static 'images/settings.png' %}" /></a>
        <div id="settings">
        
            <div id="fx_choice">
                <h4>FX Rates <span class="question" title="Real world FX reflects price differences between buy and sell rates; idealised rates exchange equally between either currency.">?</span></h4>
                <label><input type="radio" name="currency_choice" class="" id="real_fx"/>Real World FX</label>
                <label><input type="radio" name="currency_choice" class="" id="ideal_fx" checked="checked"/>Idealised FX</label>
            </div>
            
            <div id="trade_fees">
                <h4>Trade Fees <span class="question" title="Include or exclude estimated trade/transfer fees in the calculations.">?</span></h4>
                <label><input type="radio" name="trade_fees" id="include_trade_fees" checked="checked" />Include Trade Fees</label>
                <label><input type="radio" name="trade_fees" id="exclude_trade_fees" checked="checked" />Exclude Trade Fees</label>
            </div>
        
        </div>
        
        
        <div id="in_out">

            <div id="buy">
                <span contenteditable="true" id="user-amount">100</span>
    
                <div id="radios">
                    <label><input type="radio" name="user-currency" checked="checked" value="GBP">GBP</label>
                    <label><input type="radio" name="user-currency" value="USD">USD</label>
                    <label><input type="radio" name="user-currency" value="EUR">EUR</label>
                    <label><input type="radio" name="user-currency" value="RMB">RMB</label>
                </div>
            
                <div id="name">
                    on <span class=""></span>
                </div>
            </div>
            
            <div id="best_price">
                <span class="price"></span>
                <span class="currency"></span><br/>
                on <span class="name"></span>
            </div>
            
        </div>
        
        
        
        
        
        <table id="list">
        
            <thead>
                <td>Buy from</td>
                <td>Price</td>
                <td>BTC Buy</td>
                <td>Sell on</td>
                <td class="num">Sell price</td>
                <td class="num">Total out</td>
                <td class="num">+ / -</td>
                <td class="num">Percent</td>
                <td class="num">Min-sell</td>
            </thead>
            
            {% for x in buy_data %}
            {% if x.name %}
                <tr id="{{ x.name }}" class="exchange" data-price="{{ x.price|floatformat:'2' }}" data-curr="{{ x.curr }}" data-trade-fee="{{ x.trade_fee }}" data-transfer-fee="{{ x.transfer_fee }}">
                    <td class="buy_from">
                        <span class="name">{{ x.name }}</span>
                    </td>
                    <td class="buy_price">
                        
                        <span class="price"></span>
                        <span class="curr"></span>
                    </td>
                    <td class="btc_buy"></td>
                    <td class="sell_on" valign="middle">
                        <a href="" class="exclude"><span class="text">-</span></a>
                        <a href="{{ x.url }}"><span class="name">{{ x.name }}</span></a>
                    </td>
                    <td class="sell_price num" valign="middle">
                        <span class="price"></span>
                        <span class="curr"></span>
                    </td>
                    <td class="total_out num">
                        <span class="price"></span>
                        <span class="curr"></span>
                    </td>
                    <td class="profit_loss num">
                        <span class="price"></span>
                        <span class="curr"></span>
                    </td>
                    <td class="percent num">
                        <span class="num"></span> 
                        <span class="symbol">%</span>
                    </td>
                    <td class="min_sell num">
                        <span class="price"></span>
                        <span class="curr"></span>
                    </td> 
                </tr>
            {% endif %}
            {% endfor %}
        </table>
            

        
        
        <ul id="fx_rates">
            {% for k,v in fx_rates.items %}
                <li id="{{ k }}">{{ v }}</li>
            {% endfor %}
                <li id="GBP_GBP_real">1</li>
                <li id="RMB_RMB_real">1</li>
                <li id="USD_USD_real">1</li>
                <li id="EUR_EUR_real">1</li> 
                <li id="GBP_GBP_ideal">1</li>
                <li id="RMB_RMB_ideal">1</li>
                <li id="USD_USD_ideal">1</li>
                <li id="EUR_EUR_ideal">1</li>      
        </ul>      

{% endblock %}
