{% extends base_template %}
{% load thumbnail staticfiles mathfilters %}

{% block pagetitle %}Terms and Conditions{% endblock %}


{% block extrajs %}
<script type="text/javascript">
</script>
{% endblock %}


{% block extracss %}
<style type="text/css">

</style>
{% endblock %}


{% block content %}
<div class="pure-g-r">
    <div class="pure-u-1">

        
        <p class="extra-large">BTC Trading is high-risk - please read and understand our terms and conditions.</p>
        
        
        <p class="large">Bitcoin (BTC) trading is a high-risk activity. We provide information on this site that can help you buy and sell for profit, but we take no responsibility for losses you may incur, and we make no guarantees about the accuracy or reliability of our data. Use at your own risk.</p>
        
        <h3>Privacy</h3>
        <p>We collect some anonymous information about all users of this site (for example, your IP address, your browser version), but none of this is ever used to identify you personally. It is used statistically to improve our service.</p>
        
        
        
                
        </div>       
        
    </div>

</div>
{% endblock %}
